
<div class="wrapper">
  <div class="content-wrapper curved-background-blue">
    <div fxLayout="row" class="top-bar">
      <div fxFlex="50%" class="left-side">
        <i class="fas fa-bars my-icon"></i>
      </div>

      <div fxFlex="50%" class="right-side">
        <div class="search-icon">
          <i class="fas fa-search my-icon"></i>
        </div>
        <div class="find-text">
          Find a Local Store
        </div>
        <div class="my-account-text">
          My Account
        </div>
        <div class="cart-icon">
          <i class="fas fa-shopping-cart my-icon"></i>
        </div>
      </div>
    </div>

    <div fxLayout="row" class="content">
      <!-- <router-outlet></router-outlet> -->
      <div class="back-button" (click)="goBack()" [@showHide]="!isVisible ? 'show' : 'hide'">
        <i class="fas fa-arrow-left"></i>
      </div>
      <ol>
        <li><img src="../assets/image/watch-1.jpg" alt="1"></li>
        <!-- <li><img src="../assets/image/watch-2.jpg" alt="2"></li>
        <li><img src="../assets/image/watch-3.jpg" alt="3"></li> -->
      </ol>
    </div>

    <!-- /////////////////// CONVERTION ZONE ////////////////////// -->
    <div class="convertion-zone">
      <div class="brand">
        NABAIJI
      </div>
      <div class="item">
        X BASE Swimming goggles
      </div>
      <div class="price-wrapper">
        <div>From</div>
        <div class="price">
          <span>
            $19.99
          </span>
        </div>
      </div>

      <div class="color-picker" @colorPickerParentAnimation>
        <div class="circle blue active"></div>
        <span [@colorPickerAnimation]="isVisible ? 'show' : 'hide'"></span>
        <div class="circle black" [@colorPickerAnimation]="isVisible ? 'show' : 'hide'"></div>
        <span [@colorPickerAnimation]="isVisible ? 'show' : 'hide'"></span>
        <div class="circle pink" [@colorPickerAnimation]="isVisible ? 'show' : 'hide'"></div>
      </div>

      <div class="size-select" [@showHide]="!isVisible ? 'show' : 'hide'">
        <div class="select-text">Select Your Size</div>
        <div class="sizes">
          <div class="selected">
            <span>S</span>
          </div>
          <div>
            <span>M</span>
          </div>
          <div>
            <span>L</span>
          </div>
          <div class="size-guide-icon">
            <img src="../assets/image/size-guide.png">
          </div>
        </div>
      </div>

      <div class="shop-now-button" [@slideUpDown]="isVisible ? 'up' : 'down'">
        <button (click)="shopNow()">
          <span *ngIf="isVisible">Shop Now</span>
          <span *ngIf="!isVisible">Buy Now</span>
        </button>
      </div>
      <!-- <div class="buy-now-button" [@showHide]="!isVisible ? 'show' : 'hide'">
        <button (click)="shopNow()">Buy Now</button>
      </div> -->
    </div>

  </div>
</div>