@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

@font-face {
  font-family: "DIN Condensed Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DIN Condensed Bold"),
    url("../assets/font/din-condensed-cufonfonts-webfont/DINCondensed-Bold.woff") format("woff");
}

.wrapper {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.curved-background-green {
  background: linear-gradient(180deg, #000 0%, #7aca3a 57%, #65b529 62%, #3d681a 74%, #092228 100%);
}

.curved-background-blue {
  background: linear-gradient(180deg, #000 0%, #2aa0c8 57%, #3bb4dd 61%, #2499bf 74%, #092228 100%);
}

.content-wrapper {
  box-sizing: border-box;
  height: 100vh;
  width: auto;
  position: relative;
  color: rgba($color: #ffffff, $alpha: 1);

  .top-bar {
    .left-side,
    .right-side {
      margin: 33.5px 20px 0;
    }

    .my-icon {
      font-size: 20px;
    }

    .left-side {
    }

    .right-side {
      text-align: right;

      div {
        text-transform: uppercase;
        display: inline-block;
      }

      .cart-icon {
        margin-left: 53px;
      }

      .my-account-text {
        margin-left: 25px;
      }

      .find-text {
        margin-left: 73px;
      }
    }
  }

  .content {
    margin-top: 10%;

    .back-button {
      position: absolute;
      left: 5%;
      top: 20%;

      i {
        font-size: 20px;
      }
    }

    ol {
      list-style: none;
      margin: 0;

      li {
        margin-left: 13%;

        img {
          max-width: 50%;
          width: 40%;
        }
      }
    }
  }

  .convertion-zone {
    position: absolute;
    top: 207px;
    right: 99px;

    .brand {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .item {
      text-transform: uppercase;
      font-size: 38px;
      font-family: "DIN Condensed Bold", "sans-serif";
      margin-bottom: 10px;
    }

    .price-wrapper {
      font-size: 12px;
      margin-bottom: 41px;

      .price {
        font-size: 1rem;
        text-align: center;
        color: rgba($color: #000000, $alpha: 1);
        height: 27px;
        width: 80px;
        border-radius: 4px;
        background-color: #ffea28;

        span {
          color: #262628;
          font-size: 22px;
          font-weight: 700;
        }
      }
    }

    .color-picker {
      margin-bottom: 60px;
      position: relative;

      div {
        display: inline-block;
      }

      .circle {
        opacity: 1;
        box-sizing: border-box;
        border: 1px solid #fff;
        background-color: #cccccc;
        height: 32px;
        width: 32px;
        margin-right: 50px;
        border-radius: 50%;
      }

      span {
        content: "";
        position: absolute;
        width: 50px;
        background-color: #fff;
        top: 15px;
        height: 2px;
        left: 32px;
      }

      span:nth-last-child(2) {
        left: 114px;
      }

      .active {
        box-shadow: 0 0 10px 0 #e0e0e0;
      }

      .blue {
        background-color: #27a2c2;
      }

      .black {
        background-color: #232626;
      }

      .pink {
        background-color: #f065d2;
      }
    }

    .size-select {
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;

      .select-text {
        margin-bottom: 17px;
      }

      .sizes {
        position: relative;
        margin-bottom: 54px;

        div {
          display: inline-block;
          height: 30px;
          width: 30px;
          max-height: 30px;
          max-width: 30px;
          margin-right: 10px;
          text-align: center;
          border: 1px solid #ffffff;
          box-sizing: border-box;

          span {
            padding-top: 5px;
            display: inherit;
          }
        }

        div.selected {
          background-color: rgba($color: #ffffff, $alpha: 0.2);
        }

        .size-guide-icon {
          border: none;
          position: absolute;
          bottom: 0;
          right: 48%;
        }
      }
    }

    .shop-now-button,
    .buy-now-button {
      max-height: 40px;
      max-width: 125px;

      button {
        border: none;
        background: transparent;
        background-color: #ffea28;
        width: 125px;
        height: 40px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}

// Animation
// .content-wrapper {
//   .convertion-zone {
//     .color-picker.hide {
//       margin-bottom: 37px;

//       .circle:not(.active) {
//         opacity: 0;
//         transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
//       }

//       span {
//         opacity: 0;
//         transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
//       }
//     }
//   }
// }
